
// base project colors
$colorWhite: #fff;
$colorDark: #0d1b2b;
$colorBlue: lighten($colorDark, 39.5%);


// base elements colors
$bgColorWhite: $colorWhite;
$bgColorDark: #0d1b2b;

// media
$mediaLG: 992px;
$mediaMD: 768px;

@import './mixins.scss'