.page-footer {
  background-color: $colorDark;
  min-height: 600px;
  padding: 2rem;
  box-sizing: border-box;
  a {
    display: block;
    font-family: "MyriadPro";
    word-wrap: break-word;
    &:hover {
      text-decoration: none;
    }
  }
  a:not(.contact__phone) {
    color:$colorBlue
  }
  @include media-to($mediaMD) {
    padding: 1.5rem 0;
  }
}
